@import "bootstrap";
@import "font-awesome";

 label.required:after {
   content: " *";
   color: red;
 }

/* header */
#top-header{
  position: sticky;
  top: 0;
  height: 50px;
  z-index: calc(infinity);
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #a09c9c;
  color: #777;
}
.icon {
  float: left;
  width: 80px;
  height: 80px;
}
footer ul {
  float: left;
  list-style: none;
}

footer ul ol {
  margin-top: 3px;
}


/* forms */

input,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/* 画像の中央揃え */
centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100;
  /* 必要に応じてサイズを調整 */
  height: 100;
  /* 必要に応じてサイズを調整 */
}

.rounded-circle {
  border-radius: 50%;
}

.btn-purple {
  background-color: #5e27ff;
  border-color: #5e27ff;
  color: white;
}

.btn-purple:hover {
  background-color: #3104b6;
  border-color: #3104b6;
  color: white;
}

.bg-image {
  background-image: image-url('sky.jpeg');
  background-size: cover;
  background-position: center;
  padding: 0;
  border-radius: 10px;
  color: white;
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景を半透明にして読みやすくする */
  padding: 20px;
  border-radius: 10px;
}


.diagonal-background {
  position: relative;
  z-index: 1;
  padding: 50px;
}

.diagonal-background::before {
  content: '';
  position: absolute;
  top: 160px;
  left: 500px;
  width: 125%;
  height: 800%;
  background: linear-gradient(100deg, #3104b6 100%, #3104b6 100%, #3104b6 100%, #3104b6 100%);
  z-index: -1;
  transform: skewY(-40deg);
}
