<footer class="footer">
  <nav class='mx-auto'>
    <%=link_to image_tag('FE_ED.png', class: "icon"), root_path %>
    <ul>
      <ol><%= link_to "利用規約", help_path %></ol>
      <ol><%= link_to "プライバシーポリシー", policy_path %></ol>
      <ol><%= link_to "お問い合わせ", contact_path %></ol>
    </ul>
  </nav>
</footer>
