<footer class="footer">
  <nav class='mx-auto'>
    <%= image_tag 'FE_ED.png', class: "icon" %>
    <ul>
      <ol><%= link_to "利用規約",   '#' %></ol>
      <ol><%= link_to "プライバシーポリシー", '#' %></ol>
      <ol><%= link_to "お問い合わせ", '#' %></ol>
    </ul>
  </nav>
</footer>
